/* レイアウト */
.modal_main_contents{
    display: flex;
}
#left_side{/* 左側 */
    width: 20%;
    position: relative;
    left: -10%;
}
#left_side #question_list{/* 左側の問題番号の部分 */
    position: absolute;
    top: 10%;
    left: 0%;
}
#left_side #time_area{/* 残り時間表示のところ */
    position: absolute;
    bottom: 10%;
    left: 0%;
}

#right_side{/* 右側 */
    position: relative;
    width: 80%;
    left: -5%;
}
#right_side #question_sentence h2{/* Qのところ */
    position: absolute;
    top: 15%;
    left: 0%;
}
#right_side #question_sentence p{/* 問題文 */
    position: absolute;
    top: 15%;
    left: 10%;
}
#right_side #question_content{/* 問題内容 */
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#right_side #select_answer{/* 答え選択のところ */
    position: absolute;
    bottom: -10%;
    left: 55%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


/* デザイン */
/* 左側 */
#left_side{
    width: 20%;
}
#left_side #question_list p{/* 左側の問題番号の部分 */
    border: 2px solid rgb(87,189,55);
    font-size: x-large;
    font-weight: 1000;
    padding: 0.25rem 1rem;
    margin: 0.75rem 0;
}
#left_side #time_area{/* 残り時間表示のところ */
    font-size: x-large;
    font-weight: 1000;
}
#left_side #time_area #time{/* 「残り時間」 */
    color: rgb(229,60,9);
}
#left_side #time_area #remind{/* 残り時間表示 */
    margin-bottom: 0.5rem;
}

/* 右側 */
#right_side{
    width: 80%;
}
#right_side #question_sentence{
    font-size: x-large;
    font-weight: 1000;
    line-height: 40px;
}
#right_side #question_content{/* 問題内容 */
    font-size: x-large;
    font-weight: 1000;
    width: 90%;
    line-height: 40px;
}
#right_side #question_sentence p{
    width: 600px;
}
#right_side #select_answer{/* 答え選択のところ */
    width: 100%;
    height: 35%;
    border: 2px solid #777;
    box-sizing: content-box;
}
#right_side #select_answer label{/* 選択肢の文章 */
    width: 40%;
    font-size: x-large;
    text-align: center;
    font-size: x-large;
    font-weight: 1000;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
input{/* ラジオボタン */
    display: none;
}
input:checked + label{
    outline: 2px solid rgb(87,189,55);
}



/* 現在の問題番号につけるククラス */
.selected{
    border: 2px solid rgb(87,189,55);
    background: rgb(87,189,55);
    color: #FFF;
}
/* 答えにつけるクラス */
.answer{
    border: 2px rgb(87,189,55) solid;
}
/* 問題文の ？四角 の部分につけるクラス */
.question_mark{
    border: 2px solid #777;
    color: rgb(229,60,9);
    font-size: x-large;
    font-weight: 1000;
}
.question_mark::after{
    content: "?";
    padding: 0.1rem 3rem;
}