#checkbox_area{
    tr{
        td:nth-of-type(1){
            display: flex;
            align-items: center;
        }
        td:nth-of-type(2){
            margin-left: 10px;
            color: blue;
            cursor: pointer;
            &:hover{
                color: rgb(52, 52, 255);
            }
        }
    }
}
#modal2,#modal3,#modal4{
    display: none;
}